<h3>
    <table colspan=4 border =1px>
        <tr><td>Education</td><td>Board</td><td>Grade/Percentage</td><td>College/University</td></tr>
        <tr><td>MCA 3rd</td><td>Dept. of Computer Science, SPPU</td><td>5.15</td><td>Savitribai Phule Pune University</td></tr>
        <tr><td>B.Sc.Computer Science</td><td>Modern College Shivajinagar, Pune</td><td>61.53</td><td>Savitribai Phule Pune University</td></tr>
        <tr><td>HSC</td><td>Modern College Shivajinagar, Pune</td><td>61.54</td><td>Maharashtra State Board</td></tr>    
        <tr><td>SSC</td><td>Laxmanrao Apte Prashala, Pune</td><td>71.27</td><td>Maharashtra State Board</td></tr>

    </table>
</h3>