<!-- app.component.html  -->
<style>
hr.new4 {
  border: 1px solid red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
<div style="text-align: center;">
  <h1>
    Resume
  </h1>
</div>

<div style="color:royalblue;">
<h2>  Vishal Sakharam Kokane.<br> 
  <b>Address:</b> Kaverinagar Police Line, <br>Bld.7 Room.12, Wakad, Pune-411057<br><b>E-Mail: </b>vishalkokane264@gmail.com<br><b>Mobile No.:</b>8698557563
</h2>
</div>
<hr class="new4">
<div >
    <nav>
    <ul>
      <li><a routerLink="Career_Objective" routerLinkActive="active">Career Objective </a></li>
    <li><a routerLink="Technical_skills">Technical Skills </a></li>                                                                           
    <li><a routerLink="Personal_Qualities">Personal Qualities </a></li>
    <li><a routerLink="Education_Qualification">Education_Qualification </a></li>                                                                           
    <li><a routerLink="Work_Experience">Work Experience </a></li>                                                                           
    <li><a routerLink="Project_and_Assignments">Project and Assignments </a></li>                                                                           
    <li><a routerLink="Declaration">Declaration </a></li>                                                                           
  </ul>
  </nav>
  <hr class="new4">
  <router-outlet></router-outlet>
</div>>