<h3>
    <table colspan=4 border="1px">
        <tr><th>Operating Systems</th><th>Programming languages</th><th>Web Technologies</th><th>Databases</th></tr>
        <tr><td>Linux</td><td>C</td><td>HTML</td><td>MySql</td></tr>
        <tr><td>Ubuntu</td><td>Python</td><td>CSS</td><td>Postgresql</td></tr>
        <tr><td>Fedora</td><td>C#</td><td>JaaScript</td><td>Hive</td></tr>
        <tr><td>Red Hat</td><td>Basic JAVA</td><td>Php</td><td>Sqlite3</td></tr>
        <tr><td>Windows7/8</td><td></td><td>Laravel(Learning)</td><td></td></tr>
    </table>
</h3>
