<p>add-user works!</p>
<div class="container wrapper wrapper2">
    <div class="row">
        <form [formGroup]="issueForm" (ngSubmit)="submitForm()" novalidate>
            <table width=100% border=0px align=center colspan=2>
            <tr>
                <td class="class1"> <label for="fname">First Name</label>
                </td>
                <td class="class2">
                    <input type="text" class="form-control" ngModel id="fname" name="firstname"
                        placeholder="Your name.."><br>
                </td>
            </tr>
            <tr>
                <td class="class1">
                    <label for="lname">Last Name</label>

                </td>
                <td class="class2">
                    <input type="text" id="lname" name="lastname" ngModel placeholder="Your last name.."><br>

                </td>
            </tr>
            <tr>
                <td class="class1">
                    <label for="lname">Email Id</label>

                </td>
                <td class="class2">
                    <input type="text" ngModel id="emailId" name="emailId" placeholder="Your Email ID.."><br>

                </td>
            </tr>
            <tr>
                <td class="class1">
                    <label for="contact">Contact</label>

                </td>
                <td class="class2">
                    <input type="text" id="contact" ngModel name="contact" placeholder="contact number.."><br>

                </td>
            </tr>
            <tr>
                <td class="class1">
                    <label for="password">Password</label>

                </td>
                <td class="class2">
                    <input type="text" id="passwordVal" ngModel name="passwordVal"
                        placeholder="Enter Password.."><br>

                </td>
            </tr>
            <tr>
                <td class="class1">
                    <label for="updateBy">Update By</label>

                </td>
                <td class="class2">
                    <input type="text" id="updateBy" ngModel name="updateBy" placeholder="Updated by.."><br>

                </td>
            </tr>
            <tr>
                <td class="class1">
                </td>
                <td class="class2">
                    <input type="submit" value="Submit"> <input type="submit" value="Clear">
                </td>
            </tr>
        </table>
    </form>


