<h3><b>ACADEMIC PROJECTS AND ASSIGNMENTS:</b>
         <ul>
            <li>Online Auto Booking Web Application</li>
            <ul>
                <li><b>Description:</b> We developed this application to book auto online to use auto service</li>
                <li><b>Technology used:</b> Backend- Postgresql database server<br> 
                    Frontend-PHP, JavaScript, Css, Html<br>
                   Operating system- Any LINUX/Windows</li>
                   <li><b>Github Link:</b>
                    <a href="https://github.com/vishalkokane264/Online-Auto-Booking-Web-Application">https://github.com/vishalkokane264/Online-Auto-Booking-Web-Application</a></li>
                </ul>

                                <br>
                <li>Adivasi Vichar Manch Application</li>
                <ul>
                    <li><b>Description:</b> It’s a standalone machine application made for organization who work for tribal people</li>
                    <li><b>Technology used:</b> Backend - MS-Access<br>Frontend- Java</li>
                    <li><b>Github link:</b> <a href="https://github.com/vishalkokane264/Adivasi-Vichar-Manch">https://github.com/vishalkokane264/Adivasi-Vichar-Manch</a></li>
                </ul>
                <br>
                <li>Assembler - Using C language</li>
                <ul>
                    <li><b>Github link:</b><a href=" https://github.com/vishalkokane264/Assignment-Assembler"> https://github.com/vishalkokane264/Assignment-Assembler</a></li>
                </ul>
            </ul>
        <b>EXTRA-CURRICULAR ACTIVITIES:</b>
            <ul>
                <li>Participation prize in C-Coding competition</li>
                <li>Participation in Android App Development program</li>
            </ul>
        </h3>