<h3><b>Company Name:</b> Arvind Internet Ltd.<br>
        <b>Position Offered:</b>Graduate Trainee(Software Developer)<br>
        <b>Employment Period:</b> Jun-19 to Dec-19<br>
        <b>Project Done:</b> Integrate NP-6 Pos with newly created application without interfare NP-6 code using C#,.Net framework and DLL’s from scratch.<br>
        <b>Roles & Responsibilities:</b>
            <ul>
                <li>Working on hadoop cluster and its environment.</li>
                <li>Data management</li>
                <li>Scheduling sqoop jobs to data load and unload on hdfs</li>
            </ul>
            <b>Github Link:</b><a href="https://github.com/vishalkokane264/pucsd-Internship">https://github.com/vishalkokane264/pucsd-Internship</a>
</h3>
